@use 'base/variables' as v;
@use 'base/mixins' as m;

.form {

    &Grid {
        @include m.tablet {
            @include m.grid (2, v.$separation)
        }
    }

    &Content {
        background-color: v.$primary;
        padding: v.$separation;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    &Heading {
        color: v.$white;
        text-align: center;
        
    }

    &Field {
        margin-bottom: 1rem;
    }

    &Label {
        display: block;
        text-transform: uppercase;
        color: v.$white;
        margin: 1rem 0;
    }

    &Input {
        width: 100%;
        padding: 1.5rem;
        border: none;
    }

    &Submit {
        margin-top: 2rem;
        @include m.button (v.$secondary, v.$white); @include m.tablet {
            width: 100%;
        }
    }

    &Image-Container {
        margin-top: v.$separation;
        display: flex;
        justify-content: center;
    }

    &Image {
        width: 30rem;
        @include m.desktop {
            width: 100%;
        }
    }

}